
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #221e1e;
    line-height: 1.7em;
}

.my-container {
    /*max-width: 75%;*/
    margin: auto;
    overflow: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
/*Nav Bar*/
#navbar {
    background: #652dca;
    color: #fff;
    overflow: auto;
}

#navbar a {
    color: #fff;
    text-decoration: none;
}

.my-container #logo {
    padding: 20px;
}

#navbar ul {
    float: right;
    list-style: none;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    text-align: center;
    padding: 20px;
}

.main-container {
    padding-top: 20px;
}

#border-one {
    display: grid;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 200px;
    border: solid blueviolet;
    border-radius: 25px;
}


#title {
    display: flex;
    justify-content: center;
    font-size: x-large;
    color: #00ffff;
    padding-top: 20px;
}

/*Create user form*/
#new-user {
    padding-top: 30px;
}

#heading-create {
    display: flex;
    justify-content: center;
    color: aqua;
    padding-left: 20px;
    padding-bottom: 10px;
}

#new-user-form {
    display: flex;
    justify-content: center;
    color: aqua;
}

label,input, select, textarea {
    display: block;
    width: 200px;
    margin-bottom: 5px;
}

#submit {
    margin-top: 15px;
}

.border2 {
    /*display: grid;*/
    margin-left: 42%;
    margin-right: 40%;
    margin-bottom: 75px;
    justify-content: center;
    padding: 30px;
    position: absolute;
    border: solid blueviolet;
    border-radius: 25px;
}

/*Drink Table*/
#drink-table-main {
    margin: auto;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 100px;
}

#drink-table-main h1 {
    font-size: 30px;
    color: aqua;
    display: flex;
    justify-content: center;
}

#drink-table {
    color: aqua;
    /*border: solid blueviolet;*/
    margin: auto;
    margin-top: 20px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    /*padding: 25px;*/
}


tr {
    background-color: blueviolet;
}
td {
    /*background-color: aqua;*/
    border: solid aqua;
    padding: 3px;
}


/*Drink Form*/
#drink-form-main {
    margin: auto;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 75px;
    background: #8a2cbc;
    padding: 20px;
    color: aqua;
}

#drink-form-main .form-wrap {
    padding: 15px 15px;
}
#drink-form-main .form-wrap h1,
#drink-form-main .form-wrap p {
    text-align: center;
}
#drink-form-main .form-wrap .form-group {
    margin-top: 15px;
}

#drink-form-main .form-wrap label {
    display: block;
}

#drink-form-main .form-wrap .form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: #555 solid 1px;
}

#drink-form-main .form-wrap .form-group select {
    width: 100%;
    padding: 10px;
    border: #555 solid 1px;
    border-radius: 5px;
}

#drink-form-main .form-wrap button {
    width: 100%;
    display: block;
    padding: 10px;
    margin-top: 50px;
    border-radius: 10px;
}

#drink-form-main .form-wrap button:hover {
    background: #c12ad2;
}


#footer {
    text-align: center;
    background: blueviolet;
    color: aqua;
    height: 60px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 20px;
}
